app/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Irama Nusantara - Home</title>
    <link rel="stylesheet" href="./css/style.css"/>
  </head>
  <body>
    <div class="popup">
      <div class="popup-overlay"></div>
      <div class="popup-body"><a class="popup-button js-trigger-popup">CLose<img class="popup-button__image" src="./images/icons/close_icon.png"/></a>
        <div class="popup-content">
          <div class="popup-content__bekraf">
            <h3 class="popup-content__title">Info Bekraf</h3>
            <p class="popup-content__desc">With increasing number of people in productive age, Indonesia is growing into a large pool of creative professionals. Sprawling across thousands of islands and hundreds of local ethnicities, Indonesia is a melting pot perfect to foster diverse talents. To home to ever growing creative economy with unlimited potentials.<br/><br/>Bekraf is developing a system in the music subsector, in which this system can identify and digitally record the data in order to manage musician royalty by involving various other Ministries / Institutions so that all songwriters and their works can be protected, and monetized in a professional IT-based system. <br/><br/><strong>Triawan Munaf</strong><br/>Chairman of Indonesia Creative Economy Agency</p>
          </div>
          <div class="popup-content__text">
            <h3 class="popup-content__title">IRAMA NUSANTARA</h3>
            <p class="popup-content__desc">Irama Nusantara is a center for the preservation and archiving of data and information on Indonesian popular music starting from the 1920s era, focusing on physical record release data; includes vinyl records, cassettes and compact discs.<br/><br/>Irama Nusantara was originally a social movement (formed in 2013) based on the awareness of the initiators considering the needs and on how important archiving and preservation of Indonesian popular music data, as part of the history and the development of Indonesian art and culture.<br/><br/>The fundamental activities of Irama Nusantara are collecting and recording all the physical records of Indonesian popular music that have ever existed, including all related information; involved artists, songwriters, accompaniment bands, record labels, and the music itself.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="header-logo"><img class="header-log__bekraf" src="./images/logo/bekraf.png"/><img class="header-log__irnus" src="./images/logo/irnus.png"/></div>
      <div class="header-stats">
        <div class="header-stats__archived">
          <div class="header-stats__archived-text">IRAMA NUSANTARA has archived<span class="header-stats__archived-count">97.216</span>minutes of recordings</div>
        </div>
        <div class="header-stats__detail">
          <div class="header-stats__detail-song"><span class="header-stats__detail-count">24.304</span><span class="header-stats__detail-text">Tracks</span></div>
          <div class="header-stats__detail-release"><span class="header-stats__detail-count">3.038</span><span class="header-stats__detail-text">Releases</span></div>
          <div class="header-stats__detail-artist"><span class="header-stats__detail-count">2.612</span><span class="header-stats__detail-text">Artists</span></div>
        </div>
      </div>
    </div>
    <div class="main" id="home-page">
      <div class="main-headline">
        <div class="main-headline__year">1950's</div>
        <div class="main-headline__logo-info"><img class="main-headline__bekraf" src="./images/logo/bekraf.png"/><img class="main-headline__irnus" src="./images/logo/irnus.png"/></div><a class="main-headline__info js-trigger-popup"><img class="main-headline__info-icon" src="./images/icons/info_icon.png"/><span class="main-headline__info-text"></span></a>
      </div>
      <div class="main-slider">
        <h2 class="main-title">RELEASE FROM THIS ERA CAN BE PLAYED HERE</h2>
        <ul class="main-slider__items js-tns-home">
          <li class="main-slider__item"><a class="main-slider__item-link js-trigger-page" data-page="album"><img class="main-slider__item-cover" src="./images/album/album_1.jpg"/></a><a class="main-slider__item-link js-trigger-page" data-page="album"><span class="main-slider__item-title">1 + 2 = 3</span><span class="main-slider__item-author">Coconut's Band</span></a></li>
          <li class="main-slider__item"><a class="main-slider__item-link js-trigger-page" data-page="album"><img class="main-slider__item-cover" src="./images/album/album_2.jpg"/></a><a class="main-slider__item-link js-trigger-page" data-page="album"><span class="main-slider__item-title">Wiwiek Abidin & O. M. Nirwana</span><span class="main-slider__item-author">Wiwiek Abidin & O. M. Nirwana</span></a></li>
          <li class="main-slider__item"><a class="main-slider__item-link js-trigger-page" data-page="album"><img class="main-slider__item-cover" src="./images/album/album_3.jpg"/></a><a class="main-slider__item-link js-trigger-page" data-page="album"><span class="main-slider__item-title">Ajo Ngguju</span><span class="main-slider__item-author">Waldjinah</span></a></li>
          <li class="main-slider__item"><a class="main-slider__item-link js-trigger-page" data-page="album"><img class="main-slider__item-cover" src="./images/album/album_4.jpg"/></a><a class="main-slider__item-link js-trigger-page" data-page="album"><span class="main-slider__item-title">Adjare Pardesi</span><span class="main-slider__item-author">Orkes Melaju Omega</span></a></li>
          <li class="main-slider__item"><a class="main-slider__item-link js-trigger-page" data-page="album"><img class="main-slider__item-cover" src="./images/album/album_5.jpg"/></a><a class="main-slider__item-link js-trigger-page" data-page="album"><span class="main-slider__item-title">A Sing Sing So</span><span class="main-slider__item-author">Pusaka Nada</span></a></li>
        </ul>
      </div>
      <div class="main-album">
        <h2 class="main-title">MORE ALBUMS ARE AVAILABLE TO LISTEN TO ON WEBSITE</h2>
        <ul class="main-album__items js-more-album">
          <li class="main-album__item"><a class="main-album__item-link"><img class="main-album__item-cover" src="./images/album/album_11.jpg"/><span class="main-album__item-note">Only playable on website</span></a><a class="main-album__item-link"><span class="main-album__item-title">A Go Go Dengan Dara Puspita</span><span class="main-album__item-author">Dara Puspita</span></a></li>
          <li class="main-album__item"><a class="main-album__item-link"><img class="main-album__item-cover" src="./images/album/album_13.jpg"/><span class="main-album__item-note">Only playable on website</span></a><a class="main-album__item-link"><span class="main-album__item-title">A. Riyanto</span><span class="main-album__item-author">A. Riyanto</span></a></li>
          <li class="main-album__item"><a class="main-album__item-link"><img class="main-album__item-cover" src="./images/album/album_14.jpg"/><span class="main-album__item-note">Only playable on website</span></a><a class="main-album__item-link"><span class="main-album__item-title">Abadi</span><span class="main-album__item-author">Alfian</span></a></li>
          <li class="main-album__item"><a class="main-album__item-link"><img class="main-album__item-cover" src="./images/album/album_15.jpg"/><span class="main-album__item-note">Only playable on website</span></a><a class="main-album__item-link"><span class="main-album__item-title">Abstract Club Band</span><span class="main-album__item-author">Abstract Club Band</span></a></li>
          <li class="main-album__item"><a class="main-album__item-link"><img class="main-album__item-cover" src="./images/album/album_16.jpg"/><span class="main-album__item-note">Only playable on website</span></a><a class="main-album__item-link"><span class="main-album__item-title">Irama High Fidelity</span><span class="main-album__item-author">Orkes Dukun Duka</span></a></li>
        </ul>
      </div>
    </div>
    <div class="main main--with-back-button" id="album-page">
      <div class="main-headline"><a class="main-headline__back-button js-trigger-page" data-page="home"><img class="main-headline__back-image" src="./images/icons/back_icon.png"/>Back</a>
        <div class="main-headline__year">1950's</div>
        <div class="main-headline__logo-info"><img class="main-headline__bekraf" src="./images/logo/bekraf.png"/><img class="main-headline__irnus" src="./images/logo/irnus.png"/></div><a class="main-headline__info js-trigger-popup"><img class="main-headline__info-icon" src="./images/icons/info_icon.png"/></a>
      </div>
      <h2 class="main-title">RELEASE FROM THIS ERA THAT CAN BE PLAYED HERE</h2>
      <div class="main-album">
        <ul class="main-album__more js-tns-album"></ul><a class="main-album__prev-button"><img class="main-album__button-image" src="./images/icons/previous_album_button.png"/></a><a class="main-album__next-button"><img class="main-album__button-image" src="./images/icons/next_album_button.png"/></a>
      </div>
      <div class="main-song">
        <div class="main-song__info"><img class="main-song__info-cover js-album-cover" src="./images/album/album_3.jpg"/>
          <div class="main-song__info-detail">
            <div class="main-song__info-album js-album-name">RANGKAIAN LAGU HIBURAN</div>
            <div class="main-song__info-artist js-album-artist">ORKES MAYA SERODJA</div>
            <div class="main-song__info-other js-album-label"><a>LOKANANTA </a>- ARI - 044</div>
            <div class="main-song__info-country">INDONESIA</div>
            <div class="main-song__info-type js-album-format">VINYL</div>
          </div>
          <p class="main-song__info-description js-album-description">Rangkaian Lagu Hiburan album from Orkes Maya Serodja first digitized by Irama Nusantara on November 22, 2017.</p>
        </div>
        <ul class="main-song__playlist js-playlist">
          <li class="main-song__playlist-item main-song__playlist-item--current">
            <div class="main-song__playlist-icon"></div>
            <div class="main-song__playlist-track">A1</div>
            <div class="main-song__playlist-song">Belaian Sajang</div>
            <div class="main-song__playlist-singer">Bing Slamet, Lies Sidik</div>
          </li>
          <li class="main-song__playlist-item">
            <div class="main-song__playlist-icon"></div>
            <div class="main-song__playlist-track">A2</div>
            <div class="main-song__playlist-song">Judul 2</div>
            <div class="main-song__playlist-singer">Nama Penyanyi 2</div>
          </li>
          <li class="main-song__playlist-item">
            <div class="main-song__playlist-icon"></div>
            <div class="main-song__playlist-track">A3</div>
            <div class="main-song__playlist-song">Judul 3</div>
            <div class="main-song__playlist-singer">Nama Penyanyi 3</div>
          </li>
          <li class="main-song__playlist-item">
            <div class="main-song__playlist-icon"></div>
            <div class="main-song__playlist-track">A4</div>
            <div class="main-song__playlist-song">Judul 4</div>
            <div class="main-song__playlist-singer">Nama Penyanyi 4</div>
          </li>
          <li class="main-song__playlist-item">
            <div class="main-song__playlist-icon"></div>
            <div class="main-song__playlist-track">A5</div>
            <div class="main-song__playlist-song">Judul 5</div>
            <div class="main-song__playlist-singer">Nama Penyanyi 5</div>
          </li>
          <li class="main-song__playlist-item">
            <div class="main-song__playlist-icon"></div>
            <div class="main-song__playlist-track">A6</div>
            <div class="main-song__playlist-song">Judul 6</div>
            <div class="main-song__playlist-singer">Nama Penyanyi 6</div>
          </li>
          <li class="main-song__playlist-item">
            <div class="main-song__playlist-icon"></div>
            <div class="main-song__playlist-track">A7</div>
            <div class="main-song__playlist-song">Judul 7</div>
            <div class="main-song__playlist-singer">Nama Penyanyi 7</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="timeline">
      <ul class="timeline-items js-timeline" data-year="1950">
        <li class="timeline-item js-trigger-timeline" data-year="PRE-INDEPENDENCE">
          <div class="timeline-item__year" data-year="PRE-INDEPENDENCE">&nbsp;<span class="timeline-pre" data-year="PRE-INDEPENDENCE">PRE-INDEPENDENCE</span></div>
          <div class="timeline-item__circle" data-year="PRE-INDEPENDENCE"></div>
        </li>
        <li class="timeline-item js-trigger-timeline" data-year="1950">
          <div class="timeline-item__year" data-year="1950">50's</div>
          <div class="timeline-item__circle" data-year="1950"></div>
        </li>
        <li class="timeline-item js-trigger-timeline" data-year="1960">
          <div class="timeline-item__year" data-year="1960">60's</div>
          <div class="timeline-item__circle" data-year="1960"></div>
        </li>
        <li class="timeline-item js-trigger-timeline" data-year="1970">
          <div class="timeline-item__year" data-year="1970">70's</div>
          <div class="timeline-item__circle" data-year="1970"></div>
        </li>
        <li class="timeline-item js-trigger-timeline" data-year="1980">
          <div class="timeline-item__year" data-year="1980">80's</div>
          <div class="timeline-item__circle" data-year="1980"></div>
        </li>
      </ul>
      <ul class="timeline-items js-timeline timeline-items--overlay" data-year="1950">
        <li class="timeline-item js-trigger-timeline" data-year="1950">
          <div class="timeline-item__year" data-year="1950">&nbsp;</div>
        </li>
      </ul>
    </div>
    <div class="now-playing">
      <div class="now-playing__album"><img class="now-playing__album-cover js-album-cover hide" src="" alt=""/>
        <div class="now-playing__album-info">
          <h3 class="now-playing__album-title js-np-song"> </h3><span class="now-playing__album-author js-np-artist"> </span>
        </div>
      </div>
      <div class="now-playing__player-control"><img class="now-playing__player-prev" id="prevButton" src="./images/icons/previous_button_.png"/><img class="now-playing__player-state hide" id="pauseButton" src="./images/icons/pause_button.png"/><img class="now-playing__player-state" id="playButton" src="./images/icons/play_button.png"/><img class="now-playing__player-next" id="nextButton" src="./images/icons/next_button_.png"/></div>
      <div class="now-playing__volume-control"><img class="now-playing__volume-icon js-volume-toggle" src="./images/icons/volume_button.png"/>
        <div class="now-playing__volume-slider"><input type="range" min="1" max="10" value="5" class="now-playing__volume-range js-volume-slider">
          <div class="now-playing__volume-full js-volume-full"></div>
        </div>
      </div>
    </div>
    <script src="./js/tinyslider.js"></script>
    <script src="./js/howler.core.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/player.js"></script>
  </body>
</html>

app/pug/index.pug
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Irama Nusantara - Home
    link(rel="stylesheet", href="./css/style.css")
  body
    .popup
      .popup-overlay
      .popup-body
        a.popup-button.js-trigger-popup
          | CLose
          img.popup-button__image(src="./images/icons/close_icon.png")
        .popup-content
          .popup-content__bekraf
            h3.popup-content__title Info Bekraf
            p.popup-content__desc
              | With increasing number of people in productive age, Indonesia is growing into a large pool of creative professionals. Sprawling across thousands of islands and hundreds of local ethnicities, Indonesia is a melting pot perfect to foster diverse talents. To home to ever growing creative economy with unlimited potentials.
              br
              br
              | Bekraf is developing a system in the music subsector, in which this system can identify and digitally record the data in order to manage musician royalty by involving various other Ministries / Institutions so that all songwriters and their works can be protected, and monetized in a professional IT-based system. 
              br
              br
              strong Triawan Munaf
              br
              | Chairman of Indonesia Creative Economy Agency
          .popup-content__text
            h3.popup-content__title IRAMA NUSANTARA
            p.popup-content__desc
              | Irama Nusantara is a center for the preservation and archiving of data and information on Indonesian popular music starting from the 1920s era, focusing on physical record release data; includes vinyl records, cassettes and compact discs.
              br
              br
              | Irama Nusantara was originally a social movement (formed in 2013) based on the awareness of the initiators considering the needs and on how important archiving and preservation of Indonesian popular music data, as part of the history and the development of Indonesian art and culture.
              br
              br
              | The fundamental activities of Irama Nusantara are collecting and recording all the physical records of Indonesian popular music that have ever existed, including all related information; involved artists, songwriters, accompaniment bands, record labels, and the music itself.
    .header
      .header-logo
        img.header-log__bekraf(src="./images/logo/bekraf.png")
        img.header-log__irnus(src="./images/logo/irnus.png")
      .header-stats
        .header-stats__archived
          .header-stats__archived-text
            | IRAMA NUSANTARA has archived
            span.header-stats__archived-count 97.216
            | minutes of recordings
        .header-stats__detail
          .header-stats__detail-song
            span.header-stats__detail-count 24.304
            span.header-stats__detail-text Tracks
          .header-stats__detail-release
            span.header-stats__detail-count 3.038
            span.header-stats__detail-text Releases
          .header-stats__detail-artist
            span.header-stats__detail-count 2.612
            span.header-stats__detail-text Artists
    .main#home-page
      .main-headline
        .main-headline__year 1950's
        .main-headline__logo-info
          img.main-headline__bekraf(src="./images/logo/bekraf.png")
          img.main-headline__irnus(src="./images/logo/irnus.png")
        a.main-headline__info.js-trigger-popup
          img.main-headline__info-icon(src="./images/icons/info_icon.png")
          span.main-headline__info-text
      .main-slider
        h2.main-title RELEASE FROM THIS ERA CAN BE PLAYED HERE
        ul.main-slider__items.js-tns-home
          li.main-slider__item
            a.main-slider__item-link.js-trigger-page(data-page="album")
              img.main-slider__item-cover(src="./images/album/album_1.jpg")
            a.main-slider__item-link.js-trigger-page(data-page="album")
              span.main-slider__item-title 1 + 2 = 3
              span.main-slider__item-author Coconut's Band
          li.main-slider__item
            a.main-slider__item-link.js-trigger-page(data-page="album")
              img.main-slider__item-cover(src="./images/album/album_2.jpg")
            a.main-slider__item-link.js-trigger-page(data-page="album")
              span.main-slider__item-title Wiwiek Abidin & O. M. Nirwana
              span.main-slider__item-author Wiwiek Abidin & O. M. Nirwana
          li.main-slider__item
            a.main-slider__item-link.js-trigger-page(data-page="album")
              img.main-slider__item-cover(src="./images/album/album_3.jpg")
            a.main-slider__item-link.js-trigger-page(data-page="album")
              span.main-slider__item-title Ajo Ngguju
              span.main-slider__item-author Waldjinah
          li.main-slider__item
            a.main-slider__item-link.js-trigger-page(data-page="album")
              img.main-slider__item-cover(src="./images/album/album_4.jpg")
            a.main-slider__item-link.js-trigger-page(data-page="album")
              span.main-slider__item-title Adjare Pardesi
              span.main-slider__item-author Orkes Melaju Omega
          li.main-slider__item
            a.main-slider__item-link.js-trigger-page(data-page="album")
              img.main-slider__item-cover(src="./images/album/album_5.jpg")
            a.main-slider__item-link.js-trigger-page(data-page="album")
              span.main-slider__item-title A Sing Sing So
              span.main-slider__item-author Pusaka Nada
      .main-album
        h2.main-title MORE ALBUMS ARE AVAILABLE TO LISTEN TO ON WEBSITE
        ul.main-album__items.js-more-album
          li.main-album__item
            a.main-album__item-link
              img.main-album__item-cover(src="./images/album/album_11.jpg")
              span.main-album__item-note Only playable on website
            a.main-album__item-link
              span.main-album__item-title A Go Go Dengan Dara Puspita
              span.main-album__item-author Dara Puspita
          li.main-album__item
            a.main-album__item-link
              img.main-album__item-cover(src="./images/album/album_13.jpg")
              span.main-album__item-note Only playable on website
            a.main-album__item-link
              span.main-album__item-title A. Riyanto
              span.main-album__item-author A. Riyanto
          li.main-album__item
            a.main-album__item-link
              img.main-album__item-cover(src="./images/album/album_14.jpg")
              span.main-album__item-note Only playable on website
            a.main-album__item-link
              span.main-album__item-title Abadi
              span.main-album__item-author Alfian
          li.main-album__item
            a.main-album__item-link
              img.main-album__item-cover(src="./images/album/album_15.jpg")
              span.main-album__item-note Only playable on website
            a.main-album__item-link
              span.main-album__item-title Abstract Club Band
              span.main-album__item-author Abstract Club Band
          li.main-album__item
            a.main-album__item-link
              img.main-album__item-cover(src="./images/album/album_16.jpg")
              span.main-album__item-note Only playable on website
            a.main-album__item-link
              span.main-album__item-title Irama High Fidelity
              span.main-album__item-author Orkes Dukun Duka
    .main.main--with-back-button#album-page
      .main-headline
        a.main-headline__back-button.js-trigger-page(data-page="home")
          img.main-headline__back-image(src="./images/icons/back_icon.png")
          | Back
        .main-headline__year 1950's
        .main-headline__logo-info
          img.main-headline__bekraf(src="./images/logo/bekraf.png")
          img.main-headline__irnus(src="./images/logo/irnus.png")
        a.main-headline__info.js-trigger-popup
          img.main-headline__info-icon(src="./images/icons/info_icon.png")
      h2.main-title RELEASE FROM THIS ERA THAT CAN BE PLAYED HERE
      .main-album
        ul.main-album__more.js-tns-album
        a.main-album__prev-button
          img.main-album__button-image(src="./images/icons/previous_album_button.png")
        a.main-album__next-button
          img.main-album__button-image(src="./images/icons/next_album_button.png")
      .main-song
        .main-song__info
          img.main-song__info-cover.js-album-cover(src="./images/album/album_3.jpg")
          .main-song__info-detail
            .main-song__info-album.js-album-name RANGKAIAN LAGU HIBURAN
            .main-song__info-artist.js-album-artist ORKES MAYA SERODJA
            .main-song__info-other.js-album-label
              a LOKANANTA 
              | - ARI - 044
            .main-song__info-country INDONESIA
            .main-song__info-type.js-album-format VINYL
          p.main-song__info-description.js-album-description
            | Rangkaian Lagu Hiburan album from Orkes Maya Serodja first digitized by Irama Nusantara on November 22, 2017.
        ul.main-song__playlist.js-playlist
          li.main-song__playlist-item.main-song__playlist-item--current
            .main-song__playlist-icon
            .main-song__playlist-track A1
            .main-song__playlist-song Belaian Sajang
            .main-song__playlist-singer Bing Slamet, Lies Sidik
          each val in [2,3,4,5,6,7]
            li.main-song__playlist-item
              .main-song__playlist-icon
              .main-song__playlist-track A#{val}
              .main-song__playlist-song Judul #{val}
              .main-song__playlist-singer Nama Penyanyi #{val}
    .timeline
      ul.timeline-items.js-timeline(data-year="1950")
        li.timeline-item.js-trigger-timeline(data-year="PRE-INDEPENDENCE")
          .timeline-item__year(data-year="PRE-INDEPENDENCE") &nbsp;
            span.timeline-pre(data-year="PRE-INDEPENDENCE") PRE-INDEPENDENCE
          .timeline-item__circle(data-year="PRE-INDEPENDENCE")
        li.timeline-item.js-trigger-timeline(data-year="1950")
          .timeline-item__year(data-year="1950") 50's
          .timeline-item__circle(data-year="1950")
        li.timeline-item.js-trigger-timeline(data-year="1960")
          .timeline-item__year(data-year="1960") 60's
          .timeline-item__circle(data-year="1960")
        li.timeline-item.js-trigger-timeline(data-year="1970")
          .timeline-item__year(data-year="1970") 70's
          .timeline-item__circle(data-year="1970")
        li.timeline-item.js-trigger-timeline(data-year="1980")
          .timeline-item__year(data-year="1980") 80's
          .timeline-item__circle(data-year="1980")
      ul.timeline-items.js-timeline.timeline-items--overlay(data-year="1950")
        li.timeline-item.js-trigger-timeline(data-year="1950")
          .timeline-item__year(data-year="1950") &nbsp;
    .now-playing
      .now-playing__album
        img.now-playing__album-cover.js-album-cover.hide(src="" alt="")
        .now-playing__album-info
          h3.now-playing__album-title.js-np-song 
          span.now-playing__album-author.js-np-artist 
      .now-playing__player-control
        img.now-playing__player-prev#prevButton(src="./images/icons/previous_button_.png")
        img.now-playing__player-state.hide#pauseButton(src="./images/icons/pause_button.png")
        img.now-playing__player-state#playButton(src="./images/icons/play_button.png")
        img.now-playing__player-next#nextButton(src="./images/icons/next_button_.png")
      .now-playing__volume-control
        img.now-playing__volume-icon.js-volume-toggle(src="./images/icons/volume_button.png")
        .now-playing__volume-slider
          <input type="range" min="1" max="10" value="5" class="now-playing__volume-range js-volume-slider">
          .now-playing__volume-full.js-volume-full
          
    script(src="./js/tinyslider.js")
    script(src="./js/howler.core.min.js")
    script(src="./js/app.js")
    script(src="./js/player.js")
